<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Note
  </button>
  

  <div class="container">
    <div class="row g-4 text-center">
      @for (note of noteList; track $index) {
        <div class="col-md-4">
          <div class="card bg-light rounded p-3 shadow">
            <h3>{{note.title}}</h3>
            <p>{{note.content}}</p>
            <button class="btn btn-primary" disabled>Update</button>
            <button class="btn btn-danger mt-2" disabled>delete</button>
          </div>


        </div>
      }
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">




        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Note</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>



        <form [formGroup]="addNoteForm" (ngSubmit)="addNote()">
            
            <div class="modal-body">
                <div>
                    <label for="">title</label>
                    <input class="form-control" type="text" formControlName="title">
                    <label for="">content</label>
                    <input class="form-control" type="text" formControlName="content">
                </div>
            </div>
            
            
            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">add note</button>
            </div>
            
        </form>


      </div>
    </div>
  </div>



  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">




        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">update Note</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>



        <form [formGroup]="updateNoteForm" (ngSubmit)="updateNote()">
            
            <div class="modal-body">
                <div>
                    <label for="">title</label>
                    <input class="form-control" type="text" formControlName="title">
                    <label for="">content</label>
                    <input class="form-control" type="text" formControlName="content">
                </div>
            </div>
            
            
            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">update note</button>
            </div>
            
        </form>


      </div>
    </div>
  </div>